    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <!-- iterar -->    
<% @question.each do |q|%>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                       <%= q.titulo %>
                    </a>
                </h4>
            </div>
            <% @answer.question.each do |q| %>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">

              <%= a.contenido %>

            </div>
        </div>

    <%end%>
  <!-- iterar -->    
    </div>

